body {
  padding:2em;
  font-family: "Noto Serif", serif;
  line-height:1.75em;
}

div {
  display:block;
}

div.main {
  border-radius: 1.25em 0 0 0;
  background: rgba(0, 0, 0, 0.05);
  padding:1em 0.75em 0.5em 2em;
  max-width:36em;
  margin-bottom:1em;
}

div.section {
  background: rgba(0, 0, 0, 0.05);
  max-width:110%;
  padding:1em 0.5em 0.5em 2em;
  margin-bottom:1em;
}

div.sub_section {
  background: rgba(0, 0, 0, 0.05);
  max-width:36em;
  padding:1em 0.25em 0.5em 2em;
  margin-bottom:1em;
}

div.content {
  margin:0;
  border-radius:0;
  border:0;
  color:#555;
  margin-bottom:1em;
}

blockquote {
  border-left: 0.1em solid #aaa;
  padding:0 0 0 1em;
  font-style:italic;
  margin:0 0 1em 0;
  color:#444;
  font-size:100%;
  font-family: "Josefin Slab", serif;
  font-weight:100;
}
