body {
    margin:1em;
    font-family: "Raleway", Verdana, sans-serif;
    line-height:1.75em;
}

div.ead_header {
    margin:1em;
    padding:1em;
    border:0.25em solid #ddc;
    background-color:#ffe;
}

div.archive_description {
    margin:1em;
    padding:1em;
    border:0.25em solid #cdd;
    background-color:#eff;
}

div.did {
    padding-bottom:1em;
    margin-bottom:1em;
    border-bottom: 0.18em solid #8a8;
}

div.descgrp {
    padding-bottom:1em;
    margin-bottom:1em;
    border-bottom: 0.18em solid #8a8;
}

div.c {
    border-bottom:solid #88c 0.18em;
    background-color:rgba(0,0,0,0.07);
    padding:1em 0 1em 1em;
}

div.c div.did {
    margin-bottom:0;
}

div.bioghist {
    padding:1em 0 1em 1em;
    margin-bottom:1em;
    background-color:rgba(0,128,0,0.1);
    border-bottom:solid #afa 0.18em;
}

div.bioghist div.element {
    margin:0 0 1em 0;
}

div.bioghist div.bioghist {
    padding:1em 0 0 1em;
    margin-bottom:0;
    margin-top:1em;
}

div.chronitem {
    background-color:rgba(0,128,0,0.1);
    margin-bottom:0.5em;
    padding:0.5em;
}

div.chronitem div.event {
    margin-left:1em;
}

div.controlaccess, div.scopecontent {
    padding:1em 0 1em 1em;
    margin-bottom:1em;
    background-color:rgba(128,0,0,0.1);
    border-bottom:solid #faa 0.18em;
}

div.controlaccess div.controlaccess, div.scopecontent div.scopecontent {
    padding:1em 0 1em 1em;
    margin-bottom:0;
    margin-top:1em;
}

div.controlaccess div.element {
    margin-bottom:0;
}

label {
    background-color:#fff;
    border: 0.18em solid #aca;
    padding-left:0.25em;
    padding-right:0.25em;
    margin-right:0.25em;
}
