html { 
    height: 100%;
    width: 100%;
    background: url(crepuscule.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    /*background-color:##115770;*/
    color: #f3f0e2;
    border:0;
    margin:0;
    padding:0;
    font-size:150%;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-family: "Roboto Condensed", sans-serif;
}

h2 {
    margin-left:0.5em;
}

p {
    font-family: "Raleway", serif;
    font-size:0.8em;
    line-height:1.5em;
    max-width: 36em;
    margin-left:1.5em;
}

div.main p a, div.main p a:visited {
    color:#f3f0e2;
    text-decoration: underline;
}

div.main p a:hover {
    color:#fff;
    background-color: rgba(255,255,255,0.3);
    text-decoration: underline;
}

div.main a:hover {
    color:#fff;
    background-color: rgba(255,255,255,0.3);
}

div.main a, div.main a:hover, div.main a:visited {
    color: #f3f0e2;
    text-decoration: none;
}

div.main ul li blockquote {
    font-size:0.8em;
    line-height:1.5em;
    max-width: 36em;
    margin-left:1.5em;
}

div.main ul li blockquote a, 
div.main ul li blockquote a:hover,
div.main ul li blockquote a:visited {
    text-decoration: underline;
    color:#fff;
}

div.main {
    /*
    margin-left:auto;
    margin-right:auto;
    width:42em;
    */
    padding:1em;
    margin-bottom:3em;
}

div.main ul {
    list-style-type: none;
    margin-left:-1em;
}

div.main ul li:before {
    content: "\0000BB\0020";
}

div.main ul li {
    font-family: "Raleway", serif;
    font-weight: 500;
    margin: 0.5em 0 0.5em 0;
}

div.bottom {
    font-family: "Alice", serif;
    background-color:#111;
    color:#ccc;
    /*
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    */
    padding: 2em 3em 4em 3em;
}

div.bottom ul {
    margin:0;
    padding:0;
    border:0;
}

div.bottom ul li {
    list-style-type: none;
    margin:0 0 0.5em 0;
    padding:0;
    border:0;
}

div.bottom div.left {
    float:left;
    white-space: nowrap;
}

div.bottom div.right {
    float:right;
}

div.bottom img.mail {
    width: 2em;
    margin:0 0.5em 0 0;
    position:relative;
}

div.bottom div.left span.email a {
    position:relative;
    top:-0.75em;
}

div.bottom div.left span.icon {
    margin:0;
    padding:0;
    border:0;
}

img.linkedin {
    width: 2em;
    margin-right:0.5em;
    position:relative;
}

img.github {
    width: 2em;
    margin-right:0.5em;
    position:relative;
}

img.goodreads {
    width: 2em;
    margin-right:0.5em;
    position:relative;
}

img.stackoverflow {
    width: 2em;
    margin-right:0.5em;
    position:relative;
}

.clear {
    clear:both;
}

div.bottom a, div.bottom a:visited, div.bottom a:hover {
    color:#aaa;
}

em.code {
    font-family: monospace;
    font-size: 1em;
    background-color: rgba(128,128,64,0.65);
    font-style: normal;
}
